# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [5]:
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [6]:
df.dropna(how='any')

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
5      USC00519397 2010-01-07  0.06    70
...            ...        ...   ...   ...
19543  USC00516128 2017-08-17  0.13    72
19545  USC00516128 2017-08-19  0.09    71
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[18103 rows x 4 columns]

### Compare June and December data across all years

In [7]:
from scipy.stats import stats

In [8]:
# https://stackoverflow.com/questions/25873772/how-to-filter-a-dataframe-of-dates-by-a-particular-month-day
# Filter data for desired months
june_df = df[df['date'].dt.month == 6]
dec_df = df[df['date'].dt.month == 12]

In [9]:
# Set the date column as the DataFrame index
# Drop the date column
clean_june_df = june_df.set_index('date', drop=True)
clean_dec_df = dec_df.set_index('date', drop=True)

In [10]:
clean_june_df

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [11]:
clean_dec_df

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [12]:
# Identify the average temperature for June
june_avg = clean_june_df['tobs'].mean()
june_avg

74.94411764705882

In [13]:
# Identify the average temperature for December
dec_avg = clean_dec_df['tobs'].mean()
dec_avg

71.04152933421226

In [14]:
# Create collections of temperature data

In [15]:
# Run paired t-test
stats.ttest_ind(june_avg, dec_avg, equal_var=False)

/Users/darrensagucio/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3584: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/Users/darrensagucio/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

In [16]:
stats.ttest_rel(june_avg, dec_avg)

Ttest_relResult(statistic=nan, pvalue=nan)

### Analysis