# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
df.dropna(how='any')

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
5      USC00519397  2010-01-07  0.06    70
...            ...         ...   ...   ...
19543  USC00516128  2017-08-17  0.13    72
19545  USC00516128  2017-08-19  0.09    71
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[18103 rows x 4 columns]

In [5]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [6]:
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [7]:
# Set the date column as the DataFrame index
# Drop the date column
df.set_index('date', drop=True)

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [8]:
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

### Compare June and December data across all years

In [9]:
from scipy import stats

In [12]:
# https://stackoverflow.com/questions/25873772/how-to-filter-a-dataframe-of-dates-by-a-particular-month-day

june_df = df[df['date'].dt.month == 6]
june_df

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[1700 rows x 4 columns]

In [11]:
# Filter data for desired months
df.loc[dt(year=2017,month=6,day=1):dt(year=2017,month=6,day=30)]

TypeError: '<' not supported between instances of 'int' and 'datetime.datetime'

In [ ]:
df.dtypes

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis